/*   WEBSITE CREATED BY :
     LEANDRA DU BRUYN
     ldubruyn.work@gmail.com
*/


/* BAASIC CSS CODING FOR WHOLE PAGE */

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}

/* FRONT_PAGE | CSS CODING */

body {
    background: black;
    color: white;
}



#header {
    width: 100%;
    height: 100vh;
    background-image: url(front2.jpg);
    background-size: 1350px 750px;
    background-position: center;
    background-repeat: no-repeat;
}



.container {
    padding: 10px 10%;
}



.header-text {
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 254, 0.415);
}




.header-text h1 {
    font-size: 100px;
    margin-top: 30px;
    color: blue;
    -webkit-text-stroke:1px ;
    -webkit-text-stroke-color: white;
    text-align: center;
}



.header-text p .fa {
    font-size: 17px;
    padding-right: 5px;
}



.header-text p {
    text-align: center;
    padding-left: 5px;
    padding-right: 30px;
    font-size: 20px;
    padding-top: 20px;
}



/* ABOUT_PAGE | CSS CODING */

#about {
    padding: 80px 0;
    color: rgb(0, 132, 255);
}



.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.about-col-1 {
    flex-basis: 30%;
}



.about-col-1 img {
    width: 100%;
    border-radius: 5px;
}



.about-col-2 {
    flex-basis: 60%;
    color: white;
}



.subtitle {
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 132, 255);
    text-align: center;
    padding-right: 150px;
    padding-bottom: 10px;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: black;
}



.subtitle p {
    color: white;
}



.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}



.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;
}



.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(0, 132, 255);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.8s;
}



.tab-links.active-link::after {
    width: 50%;
}



.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}



.tab-contents ul li span {
    color: rgb(0, 132, 255);
    font-size: 14px;
}



.tab-contents {
    display: none;
}



.tab-contents.active-tab {
    display: block;
}



/* SERVICES_PAGE | CSS CODING */

#services {
    padding: 30px 0;
}



.container .title2 {
     font-size: 50px;
    font-weight: 600;
    color: rgb(0, 132, 255);
    text-align: center;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: black;
}



.services-list div {
    background-color: rgb(0, 132, 255);
    padding: 40px;
    font-size: 20px;
    font-weight: 500;
    border-radius:10px;
    transition: transform 0,8s;
}



.services-list div i {
    font-size: 20px;
    margin-bottom: 30px;
}



.services-list h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}



.services-list div a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
    margin-top: 20px;
    display: inline-block;
}



.services-list div:hover {
    background-color: rgba(25, 25, 254, 0.415);
    transform: translateY(-10px);
}



.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



/* PORTFOLIO_PAGE | CSS CODING */

#portfolio {
    padding: 50px 0;
}



.container .title3 {
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 132, 255);
    text-align: center;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: black;
    padding-top: 37px;
}



.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}



.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}



.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.8s;
}



.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 132, 255));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    transition: height 0.8s;
}



.layer h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 20px;
}



.layer a {
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 60px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}



.work:hover img {
    transform: scale(1.1);
}



.work:hover .layer {
    height: 100%;
}



.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.8s;
}



.btn:hover {
    background-color: rgb(0, 132, 255);
}



/* CONTACT_PAGE | CSS CODING */

.title4 {
      font-size: 50px;
    font-weight: 600;
    color: rgb(0, 132, 255);
    text-align: center;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: black;
}



.info p {
    text-align: center;
    margin-top: 2%;
    line-height: 10px;
    font-size: 16px;
    font-weight: 500;
}



.social-icons {
    margin-top: 30px;
    text-align: center;
}



.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(0, 132, 255);
    display: inline-block;
    transition: transform 0.8s;
}



.social-icons a:hover {
    color: red;
    transform: translateY(-5px);
}



.btn3 {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid white;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.8s;
}



.btn3:hover {
    background-color: rgb(0, 132, 255);
}



.contact-right form {
    width: 100%;
}



form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: lightblue;
    padding: 15px;
    margin: 15px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}



form .btn2 {
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}



.end-page {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(0, 132, 255);
    font-weight: 300;
    margin-top: 20px;
}



nav .fa {
    display: none;
}



/* css for small screen */

@media only screen and (max-witdh: 1280px) {

    #header {
         margin-top: 0;
        background-image: url(frontscreen.jpg);
        background-size: 40px, 40px;
    }

    .container {
    padding: 0;
    }

    .header-text {
    margin-top: 20%;
    font-size: 8px;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 254, 0.415);
    }

.header-text h1 {
    font-size: 8px;
    margin-top: 30px;
    color: white;
    left: 300px;
    }

    nav fa {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background-color: gray;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .services-list h2 {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .end-page {
        font-size: 14px;
    }
}
